body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

p{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    color: white;
}

.header,.footer{
    background-color: #1F2937;
}

.header-one{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:8px;
}

li{
    font-size: 18px;
    color:#E5E7EB;
}

.logo{
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header-two{
    display: flex;
    justify-content: space-around;
    padding:50px 200px;
}

button{
    background-color: #3882F6;
    width: 100px;
    padding: 8px;
    color: white;
    font-weight: bold;
}

#sign-up-one,#sign-up-two{
    border-style: solid;
    border-radius: 8px;
}

#sign-up-one{
    border-color: #3882F6;
    margin-top: 10px;
}

.header-two .one{
    max-width: 330px;
    color:#E5E7EB;
}

.one .awesome{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

#random{
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    text-align: center;
}

.information{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap:30px;
}

.subtext{
    max-width: 120px;
    font-size: 14px;
}

.logo-images{
    border:4px solid #3882F6;
    border-radius: 8px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 60px;
}

.quote .inquote{
    max-width: 783px;
    font-size: 36px;
    font-style:  italic;
    font-weight: 300;
    color:#1F2937;
    margin: 0;
}

#thor{
    margin: 0;
    color:#1F2937;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 760px;
    text-align: end;
    padding-right: 60px;
}

.siaction{
    display: flex;
    justify-content: center;
    padding: 82px;
}
.haction{
    display: flex;
    background-color: #3882F6;
    width: 700px;
    justify-content: space-around;
    padding: 40px;
    border-radius: 8px;
}
.action{
    display: flex;
    flex-direction: column;
    color:white;
}

#sign-up-two{
    border-color: white;
}

.clsi2{
    align-self: center;
}


.Call{
    font-weight: bold;
    font-size: 21px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
}
